<%- include('../shared/admin/header') -%>

    <body class="sb-nav-fixed">
        <!-- top -->
        <%- include('../shared/admin/top') -%>
            <div id="layoutSidenav">
                <!-- left -->
                <%- include('../shared/admin/left') -%>
                    <!-- content -->
                    <div id="layoutSidenav_content">

                        <form class="m-5" action="/admin/nhacc/create" method="post">
                            <div class="form-group">
                                <label for="NhaCCID">ID</label>
                                <input type="text" name="NhaCCID" required class="form-control" id="NhaCCID" aria-describedby="emailHelp" placeholder="NhaCCID">
                            </div>
                            <div class="form-group">
                                <label for="Tên NCC">TenNCC</label>
                                <input type="text" name="TenNCC" class="form-control" id="TenNCC" placeholder="Tên Nhà Cung Cấp">
                            </div>
                            <div class="form-group">
                                <label for="diachiNCC">Địa Chỉ</label>
                                <input type="text" name="diachiNCC" class="form-control" id="diachiNCC" placeholder="Địa Chỉ">
                            </div>
                            <div class="form-group">
                                <label for="SdtNCC">SĐT</label>
                                <input type="text" name="SdtNCC" class="form-control" id="SdtNCC" placeholder="Số điện thoại">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Thêm</button>
                        </form>
                        <%- include('../shared/admin/footerMini') -%>
                    </div>
            </div>
            <%- include('../shared/admin/footer') -%>