<%- include('../shared/admin/header') -%>

    <body class="sb-nav-fixed">
        <!-- top -->
        <%- include('../shared/admin/top') -%>
            <div id="layoutSidenav">
                <!-- left -->
                <%- include('../shared/admin/left') -%> 
                    <!-- content -->
                    <div id="layoutSidenav_content">

                        <form class="m-5" action="/admin/nhacc/update/<%= nhacc.NhaCCID %>" method="post">
                            <div class="form-group">
                                <label for="TenNCC">Tên Nhà Cung Cấp</label>
                                <input type="text" name="TenNCC" value="<%= nhacc.TenNCC %>" class="form-control" id="TenNCC" placeholder="<%= nhacc.TenNCC %>">
                            </div>
                            <div class="form-group">
                                <label for="diachiNCC">Địa Chỉ</label>
                                <input type="text" name="diachiNCC" value="<%= nhacc.diachiNCC %>" class="form-control" id="diachiNCC" placeholder="<%= nhacc.diachiNCC %>">
                            </div>
                            <div class="form-group">
                                <label for="SdtNCC">Số điện thoại</label>
                                <input type="text" name="SdtNCC" value="<%= nhacc.SdtNCC %>" class="form-control" id="SdtNCC" placeholder="<%= nhacc.SdtNCC %>">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Lưu</button>
                        </form>
                        <%- include('../shared/admin/footerMini') -%>
                    </div>
            </div>
            <%- include('../shared/admin/footer') -%>