<%- include('../shared/admin/header') -%>

    <body class="sb-nav-fixed">
        <!-- top -->
        <%- include('../shared/admin/top') -%>
            <div id="layoutSidenav">
                <!-- left -->
                <%- include('../shared/admin/left') -%>
                    <!-- content -->
                    <div id="layoutSidenav_content">

                        <form class="m-5" action="/admin/sanpham/update/<%= sanpham.SPID %>" method="post">
                            <div class="form-group">
                                <label for="LoaiHangID">Mã Loại</label>
                                <input type="text" name="LoaiHangID" value="<%= sanpham.LoaiHangID %>" class="form-control" id="LoaiHangID" placeholder="<%= sanpham.LoaiHangID %>">
                                <label for="Tensp">Tên Sản phẩm</label>
                                <input type="text" name="Tensp" value="<%= sanpham.Tensp %>" class="form-control" id="Tensp" placeholder="<%= sanpham.Tensp %>">
                                <label for="Size">Size</label>
                                <input type="text" name="Size" value="<%= sanpham.Size %>" class="form-control" id="Size" placeholder="<%= sanpham.Size %>">
                                <label for="Slton">Số Lượng Tồn</label>
                                <input type="text" name="Slton" value="<%= sanpham.Slton %>" class="form-control" id="Slton" placeholder="<%= sanpham.Slton %>">
                                <label for="Anhsp">Ảnh sản phẩm</label>
                                <input type="text" name="Anhsp" value="<%= sanpham.Anhsp %>" class="form-control" id="Anhsp" placeholder="<%= sanpham.Anhsp %>">
                                <!-- <label for="giasp">Giá sản phẩm</label>
                                <input type="text" name="giasp" value="<%= sanpham.giasp %>" class="form-control" id="giasp" placeholder="<%= sanpham.giasp %>">
                                 -->
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Lưu</button>
                        </form>
                        <%- include('../shared/admin/footerMini') -%>
                    </div>
            </div>
            <%- include('../shared/admin/footer') -%>